@model List<LipEntry>
<html>
	<head>
    <meta charset="utf-8" />
    <meta http-equiv="default-style" content="text/css; charset=utf-8" />
        <link rel="stylesheet" href="bootstrap.css" />
        <link rel="stylesheet" href="pa-StyleSheet.css" />
    <title>Phonlogy Assistant Portable</title>
    </head>
<body>
    <div class="container body-content">
        <header><h1>Data Corpus</h1></header>
        <table class="table table-hover table-striped table-bordered">
            <thead><tr><th>Phonetic</th><th>Gloss</th><th>POS</th><th>CV Pattern</th><th>Reference</th></tr></thead>
            @foreach (var entry in @Model)
            {
                <tr>
                    <td>@entry.phonetic</td>
                    <td>@entry.gloss</td>
                    <td>@entry.pos</td>
                    <td>@entry.cvPat</td>
                    <td>@entry.myRef</td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        <footer><a href="hybrid:Close" class="btn"><span class="glyphicon glyphicon-menu-left"></span></a></footer>
    </div>
    <script type="text/javascript" src="../Scripts/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../Scripts/bootstrap.js"></script>
</body>
</html>